# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/

# misc
.DS_Store
*.pem
Thumbs.db

# env files — NUNCA subir al repo
.env
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# dev
dev.log

# claude code
.claude/
